@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jobs Board!</h1>
    <p>A Jobs Board Web application build with C# ASP.NET Core</a>.</p>
</div>
